colouredword{
    color: red;
    }
     .container { 
                align-items: center;
                display: flex;
                justify-content: center 
    }
    /* .container img {
        width: 500px;
        height: 500px;
    } */
    
    .text {
        max-width: 500px;
    }
    
    nav {
        background-color: lightgray;
    }

    .nav-item a:hover {
        background-color: darkgray;
    }
    .nav-item {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 20px; 
        width: 100%;
        border: 3px solid black;
    }
    .nav-item a {
        text-align: center;
        width: 400px;
        padding:15px 0px;
        color: black;
        text-decoration: none;
        border-radius: 0px;
        font-size: 18px;
    }
    
    body{
        background-color: pink;
    }
    
    
header{
    position: sticky;
    background-color: white;
    padding: 10px;
    color: black;
    text-align: center;
}
.head2{
    background-color: lightblue;
    padding: 10px;
    color: black;
    text-align: center;
    width: auto;
}

.head4{
    background-color: lightblue;
    padding: 10px;
    color: black;
    text-align: center;
    width: 400px;
}
.grid_container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: white;
      
}

footer {
    background-color:lightgray;
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}



@media screen and (max-width: 768px) {
    section p {
        column-count: 1;
    }
}
@media screen and (max-width : 768){
    body{
        font-size: 14px;
    }
}

nav ul{
    text-align: center;
    display:flex;
}
.float_image {
    float:left;
    margin: 10px 20px 10px 0; 
    max-width: 40%

}