th, 
td { 
    border:1px black;
    background-color: bisque;
}


body {
    background-color:burlywood;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    
}
